@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Montserrat', sans-serif;
}

label{text-transform:uppercase;letter-spacing:5px;font-size:1rem}
h2{color:#29b573;}
h3{color:#9f9f9f;}
h4{font-size:2rem;color:#9f9f9f;}
#search{font-size:2rem;}
.green{color:#29b573;}
.code{letter-spacing:0.3rem;}
.facebook{background:#547dbe !important;border-color:#547dbe !important;box-shadow: 0px 0px 21px -4px #547dbe !important;}
.google{background:#3b5a9a !important;border-color:#3b5a9a !important;box-shadow: 0px 0px 21px -4px #3b5a9a !important;}
.twitter{background:#2d9cd7 !important;border-color:#2d9cd7 !important;box-shadow: 0px 0px 21px -4px #2d9cd7 !important;}

.mtop{margin-top:15vh;}
.mtop100{margin-top:100px;}
.mtop50{margin-top:50px;}
.mtop25{margin-top:25px;}

@media (max-width: 750px){
	.mtop{
		margin-top:0;
	}
	.navbar-list{
		display:none;
	}
}

a:hover {
    color: #29b573;
}

.navbar{
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-bottom: 1px solid #eee;
}

.logo{
	font-size:2.6rem;
	line-height:6.5rem;
}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    position: relative;
    float: right;
    margin-bottom: 0;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}


.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
   color: #FFF;
   background-color: #29b573;
   border-color: #29b573;
	border-radius: 500px !important;
	transition:0.2s box-shadow, 0.1s background-color;
	box-shadow: 0px 0px 21px -7px #29b573;
}

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
   color: #FFF;
   background-color: #25a568;
   border-color: #25a568;
	box-shadow: 0px 0px 21px -4px #25a568;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
   border-radius: 0;
   border-color: white;
   border-bottom: 1px solid #9f9f9f;;
   transition: 0.1s border, 0.2s padding-left;
	padding-left: 0;
	border-width:2px !important;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
	padding-left:10px;
	border-color:white;
	border-bottom-color:#29b573;
}

.logo a {
    text-decoration: none !important;
    color: black;
}

.row.warning {
    width: 100%;
    height: 50px;
    background: #F44336;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 30px;
    display:none;
    margin: 0 auto 30px;
    max-width: 500px;
    position: relative;
}

.row.warning h4 {
    color: white;
    line-height: 50px;
}

.row.warning.show{
    display:block;
}

.kapa{
    position: absolute;
    right: 0px;
    top: 0;
    color: black;
    line-height: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background: white;
    margin: 10px;
    cursor:pointer;
}

.mbottom100{
    margin-bottom:100px;
}