/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents

- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
 */

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}
/* For devices larger than 550px */

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
    /* Offsets */
    
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }
    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }
    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%;
    }
    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }
    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%;
    }
    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }
    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78.0%;
    }
    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }
    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }
    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%;
    }
}
/* Base Styles
 */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
    font-size: 62.5%;
}
body {
    font-size: 1.5em;
    /* currently ems cause chrome bug misinterpreting rems on body element */
    overflow-x: hidden;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}
/* Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}
h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}
h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}
h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}
h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}
h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}
h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}
/* Larger than phablet */

@media (min-width: 550px) {
    h1 {
        font-size: 5.0rem;
    }
    h2 {
        font-size: 4.2rem;
    }
    h3 {
        font-size: 3.6rem;
    }
    h4 {
        font-size: 3.0rem;
    }
    h5 {
        font-size: 2.4rem;
    }
    h6 {
        font-size: 1.5rem;
    }
}
p {
    margin-top: 0;
}
/* Links
 */

a {
    color: #1EAEDB;
}
a:hover {
    color: #0FA0CE;
}
/* Buttons
 */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}
/* Forms
 */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="time"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}
label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}
fieldset {
    padding: 0;
    border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
    display: inline;
}
label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}
/* Lists
 */

ul {
    list-style: circle inside;
}
ol {
    list-style: decimal inside;
}
ol,
ul {
    padding-left: 0;
    margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}
li {
    margin-bottom: 1rem;
}
/* Code
 */

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}
pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}
/* Tables
 */

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}
th:first-child,
td:first-child {
    padding-left: 0;
}
th:last-child,
td:last-child {
    padding-right: 0;
}
/* Spacing
 */

button,
.button {
    margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}
/* Utilities
 */

.u-full-width, .react-tel-input > input {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}
.u-pull-right {
    float: right;
}
.u-pull-left {
    float: left;
}
/* Misc
 */

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}
/* Clearing
 */
/* Self Clearing Goodness */

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}
/* Media Queries
 */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */

@media (min-width: 400px) {}
/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}
/* Larger than tablet */

@media (min-width: 750px) {}
/* Larger than desktop */

@media (min-width: 1000px) {}
/* Larger than Desktop HD */

@media (max-width: 1200px) {

}

.agenda th svg{
    display:block;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat',
    sans-serif;
}
label {
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:1rem
}
h2 {
    color:#29b573;
}
h3 {
    color:#9f9f9f;
}
h4 {
    font-size: 2rem;
    color: #9f9f9f;
}
#search {
    font-size: 2rem;
}
.green {
    color: #29b573;
}
.code {
    letter-spacing: 0.3rem;
}
.facebook {
    background: #547dbe !important;
    border-color: #547dbe !important;
    box-shadow: 0px 0px 21px -4px #547dbe !important;
}
.google {
    background: #3b5a9a !important;
    border-color: #3b5a9a !important;
    box-shadow: 0px 0px 21px -4px #3b5a9a !important;
}
.twitter {
    background: #2d9cd7 !important;
    border-color: #2d9cd7 !important;
    box-shadow: 0px 0px 21px -4px #2d9cd7 !important;
}
.mtop {
    margin-top: 15vh;
}
.mtop100 {
    margin-top: 100px;
}
.mtop50 {
    margin-top: 50px;
}
.mtop25 {
    margin-top: 25px;
}
@media (max-width: 549px) {
    .navbar .six.columns {
        width: 50% !important;
    }
}
@media (max-width: 820px) {

    html {
        overflow-x: hidden;
    }

    ul.navbar-list.clickable.noselect {
        width: 1365px !important;
        height: 65px !important;
    }

    .ReactModal__Content.ReactModal__Content--after-open.Modal {
        padding-top: 20px !important;
    }

    .navbar.open{
        position:fixed !important;
    }

    .hiddennav.open{
        height:85px;
        width:100%;
        display:block;
    }



    .Modal {
        width: 100% !important;
        height: 100% !important;
        max-height: 100% !important;
        top: 0 !important;
        margin: 0 !important;
        padding-top: 30vh !important;
        max-width: 100% !important;
    }


    ul.navbar-list::before {
        content: '';
        width: 100vw;
        height: 100%;
        background: white;
        position: absolute;
        left: -10vw;
        top: 0;
        z-index: -1;
    }

    .events, .events thead, .events tbody, .events th, .events td, .events tr {
        display: block;
    }

    .events .eventimage{
        float:none;
        margin: 0 auto;
        width: 120px;
        height: 120px;
    }

    .events thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .events tr{
        border-radius:7px;
        border:1px solid #eee;
        margin-bottom:30px;
    }

    .events td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align:center;
        width:auto !important;
    }

    .events td:before {
        position: absolute;
        top: 13px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .events td:last-child{border:none;padding-bottom:2px;}

    .events td:nth-of-type(1):before { width:none; }
    .events td:nth-of-type(2):before { content: "Title"; }
    .events td:nth-of-type(3):before { content: "Key"; }
    .events td:nth-of-type(4):before { content: "Date"; }
    .events td:nth-of-type(5):before { content: "Status"; }
    .events td:nth-of-type(6):before { width:none;}
    .events td:nth-of-type(1), .events td:nth-of-type(6){padding-left:0px;}

    .speakers .topics {width: 100%;max-width: inherit;}
    .speakers .topics .ongoing {margin-bottom: 10px;}
    .speakers .topics::before {margin-top: 10px;}
    .speakers td:nth-of-type(2):before{content:'Full Name'}
    .speakers td:nth-of-type(3):before{content:'Working At'}
    .speakers td:nth-of-type(4):before{content:'Topics'}

    .mtop {
        margin-top: 0;
    }

    .agenda .noBefore td:nth-of-type(1){
        padding-left:0px !important;
    }
    .agenda td:nth-of-type(1):before {
        content: "Remove Event?";
    }

    .agenda td:nth-of-type(1) {
        text-align:center;
        padding-left:50% !important;
        height:60px;
        margin-top:20px;
    }

    .agenda td:nth-of-type(1) svg {
        transform:scale(2);
        margin-top:2px;
    }

    .agenda td:nth-of-type(3):before {
        content: "Level";
    }

    .agenda td:nth-of-type(3) {
        content: "Level";
        margin-top:6px
    }

    .agenda td:nth-of-type(4):before {
        content: "Room";
    }

    .agenda td:nth-of-type(5):before {
        content: "Speaker";
    }

    .agenda td:nth-of-type(6) {
        padding-left:50% !important;
    }

    .agenda td:nth-of-type(6):before {
        content: "Date";
    }

    .agenda td:nth-of-type(7):before {
        content: "Duration";
    }

    .agenda td:nth-of-type(8) {
        width:100% !important;
        max-width:100% !important;
        margin-bottom:9px;
    }

    .agenda td:nth-of-type(8):before {
        content: "Topics";
        padding-top:8px;
    }



    .navbar li.navbar-item {
        display: block;
        width: 100%;
        background: white;
        text-align:center;
        left:-999px;
        position:absolute !important;
    }

    .navbar ul.navbar-list {
        display: block;
        position: absolute;
        z-index: 4;
        background: white;
        height: calc(100vh - 65px);
        width: 100%;
        top: 65px;
        left: -99999px;
        padding-top:30px;
        opacity:0;
        transition:0.3s opacity;
    }

    .navbar.open li.navbar-item {
        position:static !important;
    }

    .navbar.open ul.navbar-list {
        opacity: 1;
        left: 0;
    }

    li.menu {
        display:block !important;
        float: right;
        width: 50px;
        height: 50px;
        margin: 7.5px 0;
        background:url("../img/menu.svg");
        background-size: 50%;
        background-position: 50%;
        background-repeat:no-repeat;
        list-style: none;
    }



}

a {
    color: dimgray;
}

a:hover {
    color: #29b573;
}
.navbar {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-bottom: 1px solid #eee;
}
.logo {
    font-size: 2.6rem;
    line-height: 6.5rem;
}
.navbar-list {
    list-style: none;
    margin-bottom: 0;
}
.navbar-item {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}
.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #29b573;
    border-color: #29b573;
    border-radius: 500px !important;
    transition: 0.2s box-shadow, 0.1s background-color;
    box-shadow: 0px 0px 21px -7px #29b573;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #25a568;
    border-color: #25a568;
    box-shadow: 0px 0px 21px -4px #25a568;
}
input[type="email"],
input[type="time"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    border-radius: 0;
    border-color: white;
    border-bottom: 1px solid #9f9f9f;
    ;
    transition: 0.1s border, 0.2s padding-left;
    padding-left: 0;
    border-width: 2px !important;
}
input[type="email"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    padding-left: 0px;
    border-color: white;
    border-bottom-color: #29b573;
}
.level {
    width: 149px;
    height: 77px;
    background: white;
    display: inline-block;
    background-image: url(https://i.hizliresim.com/4M6znJ.png);
    zoom: 0.3;
}
.level.l1 {
    background-position: 0 0px;
}
.level.l2 {
    background-position: 0 154px;
}
.level.l3 {
    background-position: 0 77px;
}
.image {
    background-position: 50%;
    background-size: cover;
}
.image.mini {
    width: 50px;
    height: 50px;
}
.image.rounded {
    border-radius: 50%;
}
.commentBox {
    width: 100%;
    height:600px;
    overflow: auto;
    padding-right: 10px;
    margin-bottom:100px;
    transform: translateY(0px);
    opacity:1;
    transition: 0.4s transform, 0.3s opacity;
}
.gray {
    color: #cedade;
}
.red {
    color: #ce0a1b;
}
.mini {
    font-size: 2.1rem;
}
.comment {
    width: 100%;
    height: auto;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin-bottom: 5px;
    max-height: 400px;
    overflow: hidden;
    word-break:break-word;
}
.pending .comment {
    border-left: 3px solid #cedade;
}
.unapproved .comment {
    border-left: 3px solid #ce0a1b;
}
.rightarrow {
    background-image: url(https://i.resimyukle.xyz/cPdxc0.png);
    width: 13px;
    height: 22px;
    float: left;
    margin-right: 9px;
    transform: scale(0.7);
}
.approved .comment {
    border-left: 3px solid #29b573;
}

.logo a{
    text-decoration: none;
    color: #222;
}

.warning .kapa {
    display: none;
}

input.hata {
    border-bottom-color: #F44336 !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    background-color: #29b573 !important;
}

.mbottom100{
    margin-bottom:100px;
}

.mbottom25{
    margin-bottom:25px;
}

.mbottom10{
    margin-bottom:10px;
}

/* RESIM YUKLEME ILE ILGILI */
.resim {
    background-size: contain;
    background-position: 50%;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 3px 13px -5px rgba(0,0,0,0.3);
    position:relative;
    transition:0.3s background-image;
}

.resimHolder:hover .resim::before, .resimHolder:hover .resim::after{
    background:#bbb;
}

.resimHolder{
    border-radius: 50%;
    background: #fefefe;
    width: 250px;
    height: 250px;
    color: white;
    margin: 0 auto;
    box-shadow: 0 3px 13px -5px rgba(0,0,0,0.3);
    position:relative;
    border-radius:50%;
    text-align: center;
    cursor: pointer;
    transition:0.3s background;
}

.resimHolder:hover {
    background: #fbfbfb;
}

.resimHolder.active::before, .resimHolder.active::after{
    display:none;
}

.resim::before, .resimHolder::before{
    content:'';
    position:absolute;
    left:120px;
    width:10px;
    top:50px;
    height:150px;
    background:#bbbbbb;
    transition:0.3s background;
    z-index: 3;
    border-radius: 10px;
}

.resim::after, .resimHolder::after{
    content:'';
    position:absolute;
    left:50px;
    width:150px;
    top:120px;
    height:10px;
    background:#bbbbbb;
    transition:0.3s background;
    z-index: 3;
    border-radius: 10px;
}

.resim::before, .resim::after{
    background:transparent;
}

.resimHolder.active::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    z-index: 3;
    background: transparent;
}

.resimHolder.active:hover::before{
    background: rgba(0,0,0,0.6);
}


/*  */
.button-primary {
    transition:0.3s background-color, 0.3s border-color;
}

.button-primary.disabled {
    background-color: darkgray !important;
    border-color: darkgray !important;
    box-shadow: 0px 0px 21px -7px darkgray !important;
}

.tabs {
    border-left: 0;
    border-right: 0;
    box-shadow: 0px 7px 19px -17px #000, 0px -3px 19px -17px #000;
    padding: 0 53px;
    margin-bottom: 10px;
}

ul.navbar-list.clickable.noselect {
    width: 800px;
    height: 130px;
    text-align: center;
}

.clickable{
    cursor:pointer;
}

.navbar-item a{
    display:inline-block;
    width:100%;
    height:100%;
}

.navbar-item.active a{
    color: #29b573;
}

.eventimage {
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    box-shadow: 0 0 1px gainsboro;
    border-radius: 50%;
    background-color: #fcfcfc;
}

.button-red, .button-red:hover{
    background: #F44336;
    border-color: #F44336;
    color: white;
}


.remove {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 10px;
    background:url("../img/x.png");
}

.room {
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin: 12px 12px 0 0;
    float:left;
    font-weight:500;
    position: relative;
    z-index: 2;
}

.room::before {
    overflow: hidden;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.sponsor, .addSponsor, .floor{
    width:220px;
    height:220px;
    background-size:contain;
    background-position:50%;
    float: left;
    margin: 26px 26px 0 0 ;
    border-radius:5px;
    background-repeat: no-repeat;
    position:relative;
}
@media screen and (min-width: 1215px) {
    .sponsor:nth-child(4n), .addSponsor:nth-child(4n){
        margin-right:0px;
    }

}

.addSponsor {
    width: 160px;
    height: 160px;
    margin: 56px 66px 50px 40px;
    border-radius: 50%;
    background: whitesmoke;
    font-size: 200px;
    line-height: 140px;
    text-align: center;
    color: transparent;
    cursor: pointer;
    display: block;
    overflow: hidden;
    transition: 0.3s background;
}

.addSponsor::before {
    content: '';
    position: absolute;
    left: 75px;
    width: 10px;
    top: 35px;
    height: 90px;
    background: #bbbbbb;
    -webkit-transition: 0.3s background;
    -o-transition: 0.3s background;
    transition: 0.3s background;
    z-index: 3;
    border-radius: 10px;
}

.addSponsor::after {
    content: '';
    position: absolute;
    left: 35px;
    width: 90px;
    top: 75px;
    height: 10px;
    background: #bbbbbb;
    -webkit-transition: 0.3s background;
    -o-transition: 0.3s background;
    transition: 0.3s background;
    z-index: 3;
    border-radius: 10px;
}

.addSponsor:hover {
    background: #fbfbfb;
}

.addSponsor:hover::before, .addSponsor:hover::after {
    background: #dadada;
}

li.react-datepicker__time-list-item {
    width: 80px;
    font-size:0.9em;
    text-align:left;
    margin: 0;
}

ul.react-datepicker__time-list {
    overflow-x: hidden;
    height:152px !important;
}

.react-datepicker-wrapper, .react-datepicker__input-container{
    width:100%;
}

.react-datepicker-popper[data-placement^="bottom"]{
    margin-top:-10px;
}

.sponsorsWithTags {
    display: block;
    clear: both;
    overflow: auto;
}

.sponsors h1{
    margin-top: 25px;
    margin-bottom:0;
    display: inline-block;
    vertical-align: middle;
}

.sponsors input {
    margin-top: 25px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 2px solid white !important;
    font-size: 5.0rem !important;
    font-weight: 300;
    max-width: 45vw;
    height: 60px;
}


.sponsors input:not([readOnly]){
    border-bottom: 2px solid #2ab573 !important;
}


.plan {
    width: 214px;
    margin: 3px;
    height: 180px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

.aciklama {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.floor {
    background: #eaeaea;
}

.floor:hover .overModal, .sponsor:hover .overModal{
    opacity:1;
}

.overModal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    opacity: 0;
    transition:0.3s opacity;
}

.overModal .remove, .overModal .edit {
    width: 50px;
    height: 50px;
    margin-top: 85px;
    margin-left: 40px;
    float: left;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:50%;
}

.overModal .remove {
    background-size:85%;
    background-image:url("../img/xbw.svg");
}

.overModal .edit {
    background-image:url("../img/ebw.svg");
}

.Modal{
    max-width: 600px;
    max-height: 455px;
    background: white;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin:0 auto;
    margin-top: calc(50vh - 230px);
    z-index: 6;
    padding: 30px;
    outline:none;
    overflow:auto;

}

.Overlay {
    z-index: 6;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.buttons {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top:30px;
}

.buttons .left, .buttons .right, .buttons .lefter, .buttons .righter {
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid gainsboro;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
    margin: 10px 10px 10px 0;
    font-size: 24pt;
    cursor:pointer;
}

.unapproved .comment .buttons .left,
.unapproved .comment .buttons .right,
.unapproved .comment .buttons .lefter,
.approved .comment .buttons .right,
.approved .comment .buttons .left,
.approved .comment .buttons .righter  {
    display: none;
}

.buttons .righter, .pending .right{
    float: right;
    margin-right: 0;
    border-color: #29b573;
    color: #29b573;
}

.unapproved .right{
    float: right;
}

.buttons .right{
    margin-right:10px;
}

.buttons .lefter, .pending .left {
    color: #ce0a1b;
    border-color: #ce0a1b;
}

.pending .comment .buttons .lefter, .pending .comment .buttons .righter{
    display:none;
}

.pending .comment .buttons .right{
    margin-right:0;
}

@keyframes slideAnimateUp {
    0% {
        opacity:1;
        transform: translateY(0px);
        max-height: 400px;
    }

    to {
        opacity:0;
        transform: translateY(-220px);
        max-height: 0;
    }
}

.slideAnimateUp{
    animation-name: slideAnimateUp;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-direction: forward;
}

@keyframes slideAnimateDown {
    0% {
        opacity:0;
        transform: translateY(-220px);
        max-height: 0px;
    }

    to {
        opacity:1;
        transform: translateY(0px);
        max-height: 600px;
    }
}

.slideAnimateDown{
    animation-name: slideAnimateDown;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-direction: forward;
}

.clearing{
    transform: translateY(-220px);
    opacity:0;
}


li.menu {
    display:none;
}

.events button {
    padding: 8px 11px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50px;
    margin-top: 8px;
    height: 44px;
    transition:0.3s padding;
}

.events button:hover {
    padding: 8px 20px;
}

.navbar .navbar-list li:last-child a {
    margin-right: 0;
}

ul.navbar-list:not(.clickable) {
    float: right;
}

.tab {
    clear: both;
    position: absolute;
    transform: translateX(-100vw);
    transition: 1s transform, 0.9s opacity;
    width: 100%;
    background:white;
    opacity:0;
    padding-bottom: 100px;
}

.tab.active {
    display: block;
    transform: translateX(0vw);
    opacity:1;
}

.tab.active ~ .tab{
    transform: translateX(100vw);
}

.topics{
    width: 350px;
    max-width: 350px;
    overflow: hidden;
    position: relative;
}

.topics::after {
    content: '';
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 100%;
    z-index: 3;
}

.ongoing{
    width: 30000px;
    overflow: hidden;
}

.ongoing .room{
    background: gainsboro;
    margin: 0;
    margin-right: 10px;
}

input.button-primary:disabled, input.button-primary:disabled:hover {
    background: gray !important;
    border-color: gray !important;
    box-shadow: none !important;
    cursor:default !important;
}


/*tab kayması fix*/

::-webkit-scrollbar-track
{
    background:#fafafa;
}

::-webkit-scrollbar
{
    width: 4px;
    height:4px;
}

::-webkit-scrollbar-thumb
{
    background-color: #29b573;
    border: 2px solid #29b573;
}

.container.u-full-width.tabs {
    overflow: auto;
}

.tabContainer{
    position: relative;
    height:100vh;
    overflow:visible;
}

.tabContainer::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height:0px;
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.tabContainer::-webkit-scrollbar-thumb {
    background: transparent;
}

.noBefore td{
    padding-left:0 !important;
}

.noBefore td::before{
    content:'' !important;
}

.noImage{
    background:#fafafa;
}

.noImage::before {
    content: attr(data-name);
    color: black;
    text-align: center;
    width: 100%;
    display: block;
    height: 100%;
    line-height: 210px;
    font-size: 18px;
}


a{
    cursor:pointer;
}

.toRight {
    width: auto;
    float: right;
    line-height: 60px;
    font-size: 32px;
    color: #29b573;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #29b573 !important;
}

.agenda td:nth-child(3) svg {
    width: 26px;
    margin-top: 5px;
}

.hidden{
    display:none !important;
}

.italic{
    font-style: italic;
    font-size:12px;
    color:#999;
    display: inline-block;
    min-width: 140px;
}

h1, h2, h3, h4, h5, p, span, .code,td,tr,.room{
    cursor: default;
}

.agenda tbody tr td, .speakers tbody tr td, .events tbody tr td{
    cursor: pointer;
}

table{
    border-spacing: 0;
}

.agenda th:first-child, td:first-child, .speakers th:first-child, td:first-child{
    padding-left:4px;
}

.agenda tbody tr:hover, .speakers tbody tr:hover, .events tbody tr:hover{
    background: #fbfbfb;
}

.resimHolder.active:hover{
    cursor: pointer;
}

.eCodeIndicator{
    color: darkgrey;
    font-size: 20px;
    letter-spacing: -1px;
    vertical-align: top;
    padding-right: 10px;
    font-weight:300;
}

/* buyut */
th, td, p, input, textarea{
    font-size: 16px !important;
}

input[type=submit], li a , button, .button {
    font-size: 8.75pt !important;
}
/* buyut end */

.backButton {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: inline-block;
    padding: 0;
    margin: 8px 10px 0 0;
    vertical-align: top;
    background: url("../img/back.svg") no-repeat 40% 50%;
    background-size: 60%;
}

.row.hide {
    display: none;
}

.circle {
    width: auto;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 32px;
    border: 1px solid #8e8e8e;
    overflow: hidden;
}

.hiddennav{
    display:none;
}






.react-datepicker {
    font-size: 0.8em;
}
.react-datepicker__header {
    padding-top: 0.6em;
}
.react-datepicker__month {
    margin: 0.3em 0.7em;
}
.react-datepicker__day-name, .react-datepicker__day {
    width: 1.5em;
    line-height: 1.5em;
    margin: 0.136em;
}
.react-datepicker__current-month {
    font-size: 1em;
}
.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
}
.react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
}

.react-datepicker__input-container input {
    letter-spacing: 1px;
}


.error::before {
    content: 'Error: ';
}

.error, .info {
    color: #F44336;
    font-weight: 400;
    border: 1px solid #F44336;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
}

.info{
    color: #29b573;
    border: 1px solid #29b573;
}

input.moving, textarea.moving{
    transform:translateY(0px);
    margin-top:20px;
    margin-bottom:0;
    border-bottom-color:#d2d2d2;
}

input.moving + label, textarea.moving + label{
    transform:translateY(-25px);
    margin-left:3px;
    transition:0.3s all;
    color:#888;
}

input.moving:focus + label, input.moving[value=""] + label{
    cursor:text;
}


input.moving:focus + label, input.moving:not([value=""]) + label, textarea.moving:focus + label, textarea.moving:not([value=""]) + label{
    transform:translateY(-55px);
    color:#222;
}

input.moving::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    transition:0.3s color;
}
input.moving::-moz-placeholder { /* Firefox 19+ */
    color: white;
    transition:0.3s color;
}
input.moving:-ms-input-placeholder { /* IE 10+ */
    color: white;
    transition:0.3s color;
}
input.moving:-moz-placeholder { /* Firefox 18- */
    color: white;
    transition:0.3s color;
}

input.moving:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
}
input.moving:focus::-moz-placeholder { /* Firefox 19+ */
    color: gray;
}
input.moving:focus:-ms-input-placeholder { /* IE 10+ */
    color: gray;
}
input.moving:focus:-moz-placeholder { /* Firefox 18- */
    color: gray;
}

th, label{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

th svg {
    cursor: pointer;
}

.miniCode{
    letter-spacing: 5px;
    color: #29b573;
}

.react-datepicker__portal {
    background-color: rgba(0, 0, 0, 0.11);
}

.react-datepicker__portal .react-datepicker__time-container .react-datepicker__time-list {
    height: 232px !important;
}

a {
    transition: 0.2s color;
}


.react-datepicker-popper {
    transition: 0.5s all;
}

.ReactModalPortal > * {
    opacity: 0;
}
.ReactModal__Overlay {
    transition: 0.4s opacity;
    background: rgba(0, 0, 0, 0.15);
}
.ReactModal__Overlay--after-open {
     opacity: 1;
}

.ReactModal__Overlay---before-close {
    opacity: 0;
}

.ReactModal__Content{
    transform:translateY(1000px);
    transition:0.5s transform, 0.4s opacity;
    opacity:1;
}

.ReactModal__Content--after-open{
    transform:translateY(0px);
}

.ReactModal__Overlay---before-close {
    opacity: 0;
}

@keyframes LOADING {
    from {
        opacity:0;
        transform: translateY(15px);
    }

    to {
        opacity:1;
        transform: translateY(0px);
    }
}

.container{
    -webkit-animation: LOADING 0.5s normal forwards;
    -moz-animation:    LOADING 0.5s normal forwards;
    -o-animation:      LOADING 0.5s normal forwards;
}


.react-datepicker {
    font-size: 1.0em;
}

.react-datepicker__header {
    background: #29b573;
    border: none;
}

.react-datepicker__month-container {
    border: none;
}

.react-datepicker__current-month {
    color: white;
}

.react-datepicker__navigation--next {
    border-left-color: white;
}

.react-datepicker__navigation--previous {
    border-right-color: white;
}

.react-datepicker__header {
    border: none;
    border-radius: 0;
}

.react-datepicker__time-container {
    border: none;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
    border-bottom-color: #29b573;
}

.react-datepicker__day-name {
    color: white;
}

.react-datepicker__day {
    color: #4c4c4c;
    width: 30px;
    height: 30px;
    margin: 0;
    line-height: 30px;
    border-radius: 0;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    color: white;
    transition: 0.2s border-radius;
    border-radius: 50%;
}

.react-datepicker-time__header {
    font-size: 12pt;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}

ul.react-datepicker__time-list {
    width: 201px;
}

.react-datepicker__time-container {
    width: 94px;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    left: 205px;
}

li.react-datepicker__time-list-item {
    width: 95px;
}

ul.react-datepicker__time-list {
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 93px;
}

.react-datepicker {
    border: none;
    box-shadow: 0 2px 11px -7px #000;
    border-radius: 5px;
    overflow: hidden;
}

.react-datepicker__header.react-datepicker__header--time {
    background: #30cc82;
}

ul.react-datepicker__time-list {
    overflow-x: hidden;
    height: 206px !important;
}

.react-datepicker__navigation--previous:hover {
    border-right-color: #d1ffe9;
}

.react-datepicker__navigation--next:hover {
    border-left-color: #d1ffe9;
}


input[type="email"], input[type="time"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    border-bottom-color:#d2d2d2;
}

.react-datepicker__day.react-datepicker__day--disabled {
    color: lightgray;
}

.tagEdit{
    width: 36px;
    height: 36px;
    margin-top: 8px;
    background-color: black;
    display: inline-block;
    margin-right: 10px;
    vertical-align: text-top;
    -webkit-mask: url("../img/ebw.svg") no-repeat 50% 50%;
}

.tagEdit.check {
    -webkit-mask: url("../img/check.svg") no-repeat 50% 50%;
}

.priorityChanger{
    width: 42px;
    height: 42px;
    margin-top: 2px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: text-top;
}

.priorityChanger .top, .priorityChanger .bottom{
    width:42px;
    height:21px;
    background-color: black;
}

.priorityChanger .top{
    -webkit-mask: url("../img/up.svg") no-repeat 50% 50%;
}

.priorityChanger .bottom{
    -webkit-mask: url("../img/down.svg") no-repeat 50% 50%;
}

#askCheckLabel{
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    text-align: left;
    width:256px;
}

#askCheck{
    background: black;
    margin-right: 5px;
    width:20px;
    height: 28px;
}

#askCheckLabel:before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    float: left;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid #29b573;
    margin-right: 9px;
}

.customInput{
    display:none !important;
}

.customInput[type=checkbox]:checked + label::before {
    background-color: #fefefe !important;
    background-image: url("../img/check.svg");
    background-size:80%;
    background-position:50%;
    background-repeat:no-repeat;
}

.betterCheck{
    line-height: 26px !important;
    width: 100% !important;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    letter-spacing:0px !important;
}

.percentageCircle{
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
}

.percentage-active-border{
    position: relative;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;

    background-color:#29b573;
    background-image:
            linear-gradient(91deg, transparent 50%, #8ddeb8 50%),
            linear-gradient(90deg, #8ddeb8 50%, transparent 50%);
    display: inline-block;
    vertical-align: middle;

}

.higher{
    z-index:1000 !important;
}

.percentage{
    transition:0.2s all;
    width: 24px;
    margin: 0 auto;
    overflow:hidden;
}

td:hover .percentage{
    transform: scale(4) translateY(-1.3px);
}

td:hover .percentage::before{
    color:white;
}

td:hover .percentage::after{
    background: #f44437;
    box-shadow: 0 0 0 0.1px #f44437;
}

.percentage.y::before, .percentage.y::after{
    display:none;
}

.percentage::before {
    content: attr(data-perc) "%";
    position: absolute;
    z-index: 3;
    line-height: 30px;
    font-size: 4px;
    width: 21px;
    color: transparent;
    transition:0.3s color;
}

.percentage::after {
    content: '';
    position: absolute;
    z-index: 2;
    line-height: 30px;
    font-size: 7px;
    width: 10px;
    background: transparent;
    height: 10px;
    top: 9px;
    left: 7px;
    border-radius: 50%;
    box-shadow: 0 0 0 0.2px transparent;
    transition:0.3s all;
}


















/* SILLY */



.helper{
    width:100%;
    height:10px;
    position:fixed;
    bottom:0;
    left:0;
    z-index: 333;
    transition:0.3s all;
}

.silly{
    width:50px;
    height:50px;
    background:#2ab573;
    border-radius:50%;
    position:absolute;
    bottom:30px;
    right:30px;
    transition:0.3s all;
}

.hover{
    transform-origin:0;
    font-size:22px;
    line-height:50px;
    font-weight:600;
    color:white;
    text-align:center;
}

.face{
    transform:rotateZ(3deg) translateY(-10px);
    transition:0.3s all;
    cursor:pointer;
}

.face::before{
    content:attr(data-face);
    transition:0.3s all !important;
}

.silly:hover .face::before{
    content:'>~<';
    transform: rotateZ(-9deg) translateY(3px) !important;
    display: inline-block;
}

.silly-bar{
    width:100%;
    height:10px;
    background:#ccc;
    position:absolute;
    bottom:0;
    left:0;
    transition:0.3s height;
}

.bar-perc{
    width:0%;
    height:10px;
    background:#2ab573;
    transition:1s width;
}

.silly-talk button{
    width: auto;
    padding: 5px 10px;
    background: white;
    border: 2px solid #2ab573;
    border-radius: 5px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    font-size: 11px !important;
    height: auto;
    line-height: initial;
    margin: 0;
}

.silly-talk .buttons .no{
    border-color:#ccc;
    margin-right:10px;
}

.silly-talk .buttons .yes:hover{
    background:#2ab573;
    color:white;
}

.silly-talk .buttons{
    text-align: right;
    position: relative;
    display: block;
    margin: 15px 0 0 0;
}

.silly-talk .buttons:empty {
    display: none;
}

.silly-talk{
    width:300px;
    height: auto;
    right:100px;
    bottom:60px;
    position:absolute;
    border:2px solid #ccc;
    border-radius:30px 30px 0 30px;
    padding:10px 20px;
    background:White;
}

.silly-talk::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 15px;
    background: white;
    border-bottom: 2px solid #ccc;
    right: -15px;
    bottom: -2px;
}

.silly-talk::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    border-bottom: 2px solid #ccc;
    right: -34px;
    border-radius:50%;
    bottom: -2px;
    transform:rotateZ(45deg);
}


@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
.hvr-bob {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

.helper.hide .silly-bar {
    display: none;
}

.helper.hide .silly-talk {
    display: none;
}

.helper.hide .silly {
    animation:none;
    bottom:-15px;
    right:-15px;
}

.helper.hide .silly .face::before {
    content:'._.' !important;
    transform: translateX(-9px) rotateZ(12deg);
    display: inline-block;
}

.helper.hide{
    height: 35px;
}

.silly-talk button[disabled] {
    border-color: #aaa !important;
    color: #888 !important;
    cursor:default;
    background:white !important;
}

.silly-bar.minimize{
    height:0px;
}

.resimHolder.loading {
    background: gray;
}


@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.resimHolder.loading{
    cursor: default !important;
}

.resimHolder.loading::before {
    left:0;
    top:0;
    width:100%;
    height:100%;
    border-radius:50%;
    position: absolute;
    z-index: 1;
    background: #2ab573 !important;
}

.resimHolder.loading::after {
    width:60%;
    height:60%;
    left:20%;
    top:20%;
    border-radius:50%;
    border:5px solid white;
    border-left-color:transparent;
    transform-origin:center;
    background:transparent;
    margin:-5px;
    z-index:3000;
    display:block;
    animation:spin 4s linear infinite;
}

.resimHolder.loading .resim::before, .resimHolder.loading .resim::after{
    display:none !important;
}

.backButton[disabled] {
    opacity: 0.05;
}

.sk-circle {
    margin: auto;
    width: 40px;
    height: 40px;
    position: relative;
}
.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg); }
.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg); }
.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg); }
.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg); }
.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
}